shared-folders:
    /srv/salt: # put your states folder path here
    /srv/pillar: # put your pillars folder path here
forwarded-ports: {}
parameters:
    salt-version: 2019.2.2
    #minions-only: True
    #master-addr: 10.0.2.15
    node-count: 1
    master:
        cpus: 2
        memory: 2048
    minion:
        cpus: 1
        memory: 1024
